* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    color: #fce138;
    text-decoration: none;
}
header nav {
    float: right;
    margin: 7px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
}
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 25px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
section {
    padding: 60px;

}
.hero-form h3 {
    font-weight: 24px;
    margin: 0;
}
/* Hero Style details*/
.hero {
    background-image: url(/Users/cjsmith/Desktop/projects/run-buddy/assets/images/flipped-hero-image.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-start;
}
.hero h2 {
    color: #fce138;
    font-weight: bold;
    text-align: right;
    width: 45%;
}
.hero p {
    color: white;
    text-align: right;
    float: left;
    width: 45%;
}
.hero cta {
    line-height: 1.2;
}
/* HeroForm Style details*/
.hero-form {
    color: #024e76;
    background-color: #fce138;
    outline: solid #024e76 3px;
    float: right;
    text-align: left;
    width: 500px;
    position: absolute;
    padding: 20px;
    bottom: 120px;
    right: 140px;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    padding: 10px 20px;
    font-size: 20px;
}
.intro {
    text-align: center;
}
.section-title {
    font-size: 48px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    display: inline-block;
}
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto
}
.steps {
    background-color: #fce138;
    text-align: center;
}
.primary-border {
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a6b2;
}
.steps div {
    margin-bottom: 80px;
}
.steps img {
    width: 15%;
    margin: 10px 0
}
.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}
.steps p {
    color: #39a6b2;
    font-size: 23px;
}
.steps span {
    font-size: 38px;
}
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer {
    margin: 0 auto 20px auto;
    background: #024e76;
    color: #fce138;
    flex: 1;
}
.trainer img {
    width: 100%;
}
.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}
.trainer-bio h3 {
    font-size: 28px;
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio p {
    font-size: 17px;
    }
/*reach out segment details*/
.contact {
    text-align: center;
    background: #024e76
}
.contact h2 {
    color: #fce138;
}
.contact h3 {
    color: #fce138;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info iframe {
    height: 400px;
}
.contact-info div {
    color: aliceblue;
}
.contact-info div a {
    color: #fce138;
}
.contact-info p, .contact-info address {
    font-size: 16px;
}
.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
    
}
/* MEDIA QUERY FOR TABLEST AND SMALLER */
@media screen and (max-width: 768px) {
  
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/

@media screen and (max-width: 575px) {
 
       
}